header {
  background-color: #1c4586;
  height: 100px;
  width: 100%;
  border: 3px solid black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
}

header>p {
}